<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Laboratorio</title>
</head>
<body>
    <h1>Nuevo Laboratorio</h1>

    <form action="/web/laboratorios/nueva" method="post">
        <label>Nombre: <input type="text" name="nombre"/></label><br/>
        <label>País: <input type="text" name="pais"/></label><br/>
        <label>Web: <input type="text" name="web"/></label><br/>
        <button type="submit">Guardar</button>
        <a href="/web/laboratorios">Cancelar</a>
    </form>
</body>
</html>